.add {
    text-align: center;
    margin-top: 32px;
}

.post-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.add a {
    background-color: #899878;
    border-color: #121113;
    color: #121113;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 8px 16px;
    transition: 0.3s;
    text-decoration: none;
}

.add a:hover {
    background-color: #E4E6C3;
}


.post {
    position: relative;
    background-color: #222725;
    padding: 16px;
    max-width: 1000px;
    margin: 32px auto;
    border-radius: 8px;
    border: 1px solid #E4E6C3;
}

.operations {
    position: absolute;
    top: 16px;
    right: 16px;
}

.operations-option form .form-element button{
    border: transparent;
    background-color: transparent;
    transition: 0.3s;
}

.operations-option form .form-element button:hover {
    border: 1px solid #E4E6C3;
    background-color: transparent;
}

.operations-option form .form-element button img{
    width: 24px;
}

.post .form-element {
    margin: 16px 0;
}

.post .form-element label {
    display: block;
    margin-bottom: 8px;
}

.post .form-element .form-fields {
    background-color: rgba(228, 230, 195, 0.9);
    border-color: #121113;
    color: #121113;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
}

.post .form-element button {
    background-color: #899878;
    border-color: #121113;
    color: #121113;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    padding: 8px 16px;
    transition: 0.3s;
}

.post .form-element button:hover {
    background-color: #E4E6C3;
}

.post .user {
    color: #899878;
    font-size: 16px;
}

.post .category {
    color: #899878;
    font-size: 16px;
}

.only-comment {
    display: flex;
    justify-content: space-between;
}

.operationss-comments {
    display: flex;
}


.post .content h2{
    font-size: 28px;
}

.post .content p{
    font-size: 24;
    text-align: justify;
}

.post .comments {
    background-color: rgba(18, 17, 19, 0.7);
    border-radius: 16px;
    padding: 16px;
}

.post .comments .comment {
    border-bottom: 1px solid #E4E6C3;
}