.navbar {
    padding: 16px;
    text-align: center;
    border-bottom: 1px solid #E4E6C3;
}

.navbar ul {
    list-style-type: none;
}

.navbar ul li {
    display: inline-block;
    margin: 0px 8px;
}

.navbar ul li a {
    text-decoration: none;
    font-weight: bold;
    color: #E4E6C3;
    background-color: #121113;
    border: 1px solid #E4E6C3;
    border-radius: 8px;
    padding: 8px 16px;
    transition: 0.3s;
    font-size: 24px;
}

.navbar ul li a:hover {
    color: #121113;
    background-color: #E4E6C3;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(228,230,195,0.5);
    -moz-box-shadow: 0px 5px 20px 0px rgba(228,230,195,0.5);
    box-shadow: 0px 5px 20px 0px rgba(228,230,195,0.5);
}

.container .wrapper {
    max-width: 800px;
    text-align: center;
}

.container .wrapper h3{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: #E4E6C3;
}

.container .wrapper p {
    font-size: 24px;
    font-style: italic;
    text-align: center;
    color: rgba(228, 230, 195, 0.8);
    margin-bottom: 80px;
}

.container .wrapper a {
    text-decoration: none;
    font-weight: bold;
    color: #121113;
    background-color: #E4E6C3;
    border: 1px solid #E4E6C3;
    border-radius: 8px;
    padding: 8px 16px;
    transition: 0.3s;
    font-size: 32px;
    -webkit-box-shadow: 0px 5px 20px 0px rgba(228,230,195,0.5);
    -moz-box-shadow: 0px 5px 20px 0px rgba(228,230,195,0.5);
    box-shadow: 0px 5px 20px 0px rgba(228,230,195,0.5);
}

.container .wrapper a:hover {
    color: #E4E6C3;
    background-color: #121113;
}